@charset "UTF-8";
body {
    margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	
}
header   {
    min-height: 0px;
    height: 70px;
    padding-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 0px;
    border-spacing: 0px 0px;
    margin-top: 23px;
    margin-right: 0px;
    margin-left: 12px;
    background-color: rgba(238,237,239,0.69);
}
.background-im {
    background-image: url(back19.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0%;
    height: 700px;
	
}

a img  {
    padding-left: 30px;
    padding-top: 12px;
}
nav   {
    float: right;
}
.mobile-view {
    display: none;
}
.container {
    max-width: 2000px;
    bottom: 0px;
    margin-left: -10px;
    margin-right: auto;
    padding-top: 0px;
    margin-top: -25px;
}

.desktop-view ul li {
    list-style-type: none;
    display: inline-block;
    padding-top: 17px;
    padding-right: 45px;
    color: #000000;
    font-family: open sans;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 3px;
}
.desktop-view {
}
.desktop-view ul li a {
    text-decoration: none;
    color: #000000;
}
main   {
    min-height: 402px;
    margin-top: 718px;
    color: rgba(0,0,0,1.00);
}
.imagegrid {
    margin-top: 624px;
    color: rgba(0,0,0,1.00);
    margin-right: 61px;
}
footer {
    height: 96px;
    margin-top: 34px;
    margin-bottom: 10px;
}
.divfoot1 {
    float: left;
    margin-bottom: 10px;
}
.divfoot2 {
    float: right;
    margin-top: 31px;
    margin-right: 30px;
    font-family: opensans;
    font-size: small;
    margin-bottom: 10px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.responsive-image {
    display: block;
    height: auto;
    width: 100%;
}
.colmd {
    width: 31.3%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.page1photo {
    height: auto;
    background-size: cover;
    width: 63%;
    padding-left: auto;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 647px;
}
.col {
    padding-left: auto;
    padding-right: auto;
}
.ppage1 {
    font-style: normal;
    font-family: open sans;
    text-align: justify;
    font-weight: lighter;
    margin-right: 10%;
    line-height: 27px;
    margin-left: 10%;
    padding-left: 0px;
    padding-right: 0px;
}
.arafoto {
    margin-right: 24%;
    height: auto;
    margin-left: 28%;
    width: 36%;
    padding-left: 65px;
    padding-right: 57px;
}
.anamenu {
    padding-top: 12px;
    padding-right: 23px;
    background-color: rgba(226,0,3,1.00);
}
.container header {
}
.meet {
    font-family: open sans;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin-top: 623px;
    margin-bottom: -618px;
}




/*Tablet View*/
@media (min-width: 401px) and (max-width: 768px){
.mobile-view {
    display: block;
    padding-top: 35px;
    padding-right: 40px;
}
.desktop-view {
    display: none;
}
.expand {
    display: block !important;
    float: right;
}
.desktop-view ul li {
    display: block;
    text-align: right;
    padding-top: 0px;
    margin-top: 7px;
}
.colmd {
    width: 48%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.pagesh1 {
    font-size: 43px;
}
.arafoto {
    margin-right: 37px;
    padding-right: 0px;
    padding-left: 30px;
}
.imagegrid {
}

}

/*Phone View*/
@media (max-width: 400px){
.mobile-view {
    display: block;
    padding-top: 35px;
    padding-right: 40px;
}
.desktop-view {
    display: none;
}
.kapaliorta   {
    margin-left: 107px;
    margin-right: 19px;
    margin-bottom: -45px;
}
.expand {
    display: block !important;
    float: right;
}
.desktop-view ul li {
    display: block;
    text-align: center;
    padding-top: 0px;
    margin-right: 61px;
    margin-top: 7px;
}
nav .mobile-view .expand {
    margin-bottom: -2px;
    margin-right: 116px;
}
.background-im {
}
footer {
    text-align: center;
    margin-top: 0px;
    margin-right: 36px;
    height: auto;
    width: 90%;
}
.divfoot1 {
    margin-left: 24px;
}
.divfoot2 {
    padding-left: 35px;
    padding-right: 21px;
    font-size: 7pt;
    margin-top: 8px;
}
.colxs {
    width: 99%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    padding-top: 40px;
}
.pagesh1 {
    font-size: 32px;
}
.page1photo {
    margin-top: 658px;
    height: auto;
    width: 80%;
    padding-left: 0px;
    margin-left: 35px;
    margin-right: 35px;
}
.arafoto {
    padding-left: 0px;
    width: 55%;
    padding-right: 14px;
    margin-right: -16px;
    margin-left: 84px;
}
.containerm   {
    margin-top: 700px;
}

}
